<div class="container-fluid">

  <div class="row mt-3" *ngIf="!modalDisplay">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-10">
          <img src="{{img_url}}" alt="{{item.itemName}}" height="500px" width="400px">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10" >
          <span *ngFor="let img of images"><img src="{{img}}" (click)="changeImage(img)" alt="item.itemName" height="50px" class="m-1"></span>
          <!-- <img src="assets/shopimages/jeans2.jpg" (click)="changeImage('assets/shopimages/jeans2.jpg')" alt="jeans1" height="50px" class="m-1">
          <img src="assets/shopimages/jeans3.jpg" (click)="changeImage('assets/shopimages/jeans3.jpg')" alt="jeans1" height="50px" class="m-1">
          <img src="assets/shopimages/jeans4.jpg" (click)="changeImage('assets/shopimages/jeans4.jpg')" alt="jeans1" height="50px" class="m-1"> -->
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <h2>{{item.itemName}}</h2>
      <div class="row">
        <div class="col-md-6">
          <div>
            <p class="mt-3">Style Code: <b> {{item.styleCd}}</b> </p>
          </div>
          <p class="mt-2"> Available Sizes: <b> {{item.sizes}} </b></p>

          <div class="row ml-0">
            <span class="mt-2 mr-2">Available Colors </span>
            <span class="font-weight-bold mt-2">
              {{item.colors}}
              <!-- <div class="bg-primary border border-primary m-1" style="width: 20px; height: 20px;"></div> -->
            </span>
            <!-- <span>
              <div class="bg-warning border border-warning m-1" style="width: 20px; height: 20px;"></div>
            </span> -->
          </div>
          <div class="mt-4">
            <p> {{item.fabricDetails}} </p>
          </div>
        </div>
        <div class="col-md-5">
          <h4><span class="text-danger display-6"> Kindly enquire to know the Price</span></h4>
          <button class="btn btn-warning btn-block mt-2" (click)="showModal()">Enquire Now</button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="modalDisplay">
    <div class="row mt-3">
      <div class="col-md-8"><h2 class="text-center text-primary">Enquiry Form</h2></div>
    </div>
    <div class="row m-1">
      <div class="col-md-11 bg-success" *ngIf="successMessage && !errorMessage"><h5 class="text-center m-1">{{successMessage}}</h5></div>
      <div class="col-md-11 bg-danger" *ngIf="errorMessage"><h5 class="text-center m-1">{{errorMessage}}</h5></div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <img src="{{img_url}}" alt="{{item.itemName}}" width="200px">
        </div>
        <div class="row">
          <div class="col-md-7 mt-2">
            <div>
              <h4> {{item.itemName}} </h4>
              <p class="mt-3">Style Code: <b> {{item.styleCd}}</b> </p>
            </div>
            <p class="mt-2"> Available Sizes: <b> {{item.sizes}} </b></p>
            <div class="mt-2">
              <button class="btn btn-secondary" (click)="hideModal()">Go Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2 bg-light">
        <form [formGroup]="enquiryForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter Your Full Name" />
            <span class="text-danger" *ngIf="!enquiryForm.controls.name.valid && !enquiryForm.controls.name.pristine">Name is Required</span>
          </div>
          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="text" formControlName="emailId" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Enter Email ID">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span class="text-danger" *ngIf="!enquiryForm.controls.emailId.valid && !enquiryForm.controls.emailId.pristine">Enter a Valid Email ID</span>
            
          </div>
          <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="tel" formControlName="mobile" class="form-control" id="mobile" aria-describedby="mobileHelp"
              placeholder="Enter 10 digit mobile Number" />
            <small id="mobileHelp" class="form-text text-muted">We'll never share your Mobile Number with anyone
              else.</small>
              <span class="text-danger" *ngIf="!enquiryForm.controls.mobile.valid && !enquiryForm.controls.mobile.pristine">Enter a valid Mobile Number</span>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" formControlName="message" id="message" class="form-control" cols="30" rows="10"
              placeholder="Enter your query we will get back to you soon"></textarea>
              <span class="text-danger" *ngIf="!enquiryForm.controls.message.valid && !enquiryForm.controls.message.pristine">Message is Required</span>
          </div>
          <button class="btn btn-block btn-warning" type="submit" [disabled]="!enquiryForm.valid" >Submit</button>
          
        </form>
      </div>
    </div>

  </div>

</div>

<!-- Button trigger modal -->

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" (click)="showModal()" data-target="#tirupurwholesaleenquirymodal">
  Launch static backdrop modal
</button>

<div class="modal fade" id="tirupurwholesaleenquirymodal" [ngStyle]="modalDisplay" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Modal Body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->