<div class="container-fluid">

  <div class="row mt-3">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-10">
          <img src="{{img_url}}" alt="jeans1">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <img src="assets/shopimages/jeans1.jpg" (click)="changeImage('assets/shopimages/jeans1.jpg')" alt="jeans1" height="50px" class="m-1">
          <img src="assets/shopimages/jeans2.jpg" (click)="changeImage('assets/shopimages/jeans2.jpg')" alt="jeans1" height="50px" class="m-1">
          <img src="assets/shopimages/jeans3.jpg" (click)="changeImage('assets/shopimages/jeans3.jpg')" alt="jeans1" height="50px" class="m-1">
          <img src="assets/shopimages/jeans4.jpg" (click)="changeImage('assets/shopimages/jeans4.jpg')" alt="jeans1" height="50px" class="m-1">
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <h4>Mens Slub Knit Stylish Jeans - ALPHAR ONE</h4>
      <div class="row">
        <div class="col-md-5">
          <div>
            <p class="mt-3">Style Code: <b> M9110</b> </p>
          </div>
          <p class="mt-2"> Available Sizes: <b> S M L XL </b></p>
          <p class="mt-2">Quantity: <b> <i> 3600[pcs] </i></b></p>

          <div class="row ml-0">
            <span class="mt-2 mr-2 font-weight-bold">Available Colors </span>
            <span>
              <div class="bg-primary border border-primary m-1" style="width: 20px; height: 20px;"></div>
            </span>
            <span>
              <div class="bg-warning border border-warning m-1" style="width: 20px; height: 20px;"></div>
            </span>
          </div>
          <div class="mt-2">
            <span>Price per pcs</span>
            <h4 class="text-danger">₹120</h4>
          </div>
        </div>
        <div class="col-md-5 mt-3">
          <p>80% Cotton 20% Polyester Knitted Slub Jersey 165 GSM</p>
          <p>Mens slub knit printed t shirt. Short sleeve.</p>
          <button class="btn btn-warning btn-block">Enquire Now</button>
        </div>
      </div>

    </div>
  </div>

</div>